<link rel="stylesheet" href="w3.css">
<form>
  <h3>Edit User:</h3>
    <label>First Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="newuser.fName" placeholder="First Name">
  <br>
    <label>Last Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="newuser.lName" placeholder="Last Name">
  <br>
    <label>Password:</label>
    <input class="w3-input w3-border" type="password" ng-model="newuser.passw1" placeholder="Password">
  <br>
    <label>Repeat:</label>
    <input class="w3-input w3-border" type="password" ng-model="newuser.passw2" placeholder="Repeat Password">
  <br>
    <label>Sex:</label>
    <input class="w3-input w3-border" type="text" ng-model="newuser.sex" placeholder="Sex">
  <br>
    <label>Age:</label>
    <input class="w3-input w3-border" type="number" ng-model="newuser.age" placeholder="Age">
  <br>
    <label>Title:</label>
    <input class="w3-input w3-border" type="text" ng-model="newuser.title" placeholder="Title">
  <br>
  <a href="#/"><button class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete" ng-click="saveChanges()">&#10004; Save Changes</button></a>
</form>