<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
<link rel="stylesheet" href="w3.css">
<body ng-app="myApp">
<a href="#/newUser/"><button class="w3-btn w3-green w3-ripple">&#9998; Create New User</button></a>
<div ng-view></div>
<script src="myUser.js"></script>
</body>
</html>
